.cart {
   height: 100%;


  &__panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

  }

  &__header {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
  }

  &__list {
    margin-top: 40px;
  }

  &__buttonWrapper {
    margin: 0 30px 30px;
  }

  &__button {
    text-align: center;
  }
}

:global {
  .ant-drawer-body {
    flex: 1 1 100%;
  }

  .ant-drawer-wrapper-body {
    display: flex;
    flex-direction: column;
  }
}
