@import '~styles/config';

.text {

  @include container;
  @include segment($padding-top: 0);

  &__row {
    @include grid-row;
  }

  &__content {
    @include grid-col(6);
    @include copy;

    flex: 0 0 50%;

    padding-left: $gutter;

    &.right {
      @include grid-offset-left(6);
    }

    p {
      margin: 0;
    }

    h2 {
      @include heading;

      display: inline-block;
      position: relative;
      margin-bottom: 1em;

      &::after {
        content: '';
        position: absolute;
        top: 130%;
        left: 0;
        width: 40%;
        height: 2px;
        background: $color-primary;
      }
    }
  }
}
