@import '~styles/config';

.carousel {
  @include segment;

  position: relative;
  overflow: hidden;

  &__container {
    margin-left: auto;
    margin-right: auto;

    max-width: $page-limit;
  }

  &Default &__container {
    @include container;
  }

  &HideArrows {

    @media (min-width: 1940px) {
      :global {

        .slick-arrow { // stylelint-disable-line
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  &Padding {
    :global {
      .slick-slide {
        padding: 0 15px;
      }

      .slick-list {
        margin: 0 2em;
      }
    }
  }
}
