@import '~styles/config';

.employees {
  @include segment($padding-top: 0);

  &__container {
    @include container;
  }

  &__row {
    @include grid-row;

  }

  &__heading {
    @include heading;

    display: inline-block;
    position: relative;
    margin-bottom: 1em;

    &::after {
      content: '';
      position: absolute;
      top: 130%;
      left: 0;
      width: 40%;
      height: 2px;
      background: $color-primary;
    }
  }

  &__item {
    @include grid-col;

    margin-top: 20px;

    @media (min-width: $min-mobile) {
      @include grid-col(6);
    }

    @media (min-width: $min-tablet) {
      @include grid-col(3);
    }
  }
}
