@import '~styles/config';

.header {
  display: block;

  z-index: $z-index-10;

  width: 100%;

  &__container {
    @include container;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $gutter 0;

  }

  &__name {
    opacity: var(--opacity);

    will-change: opacity;
    font-size: 16px;
    text-transform: bold;
  }

  &__logo {
    @include reset-anchor;

    z-index: $z-index-10;
    width: 95px;
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }

  &__cart {
    position: relative;
    z-index: $z-index-10;
    margin-left: 30px;

    &Svg {
      @include responsive-font($font-size-min, 24px);

      padding-top: 5px;
      padding-right: 5px;

      cursor: pointer;
      fill: #333;
    }

    &Badge {
      background-color: $color-primary;
    }

    &CountWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: -14px;
      right: -14px;
      width: 17px;
      height: 17px;
      font-weight: 600;
      color: #fff;
      border-radius: 50%;
      background: $color-primary;
    }
  }
}
