@import '~styles/config';

.header {
  display: block;

  background-color: #121217;
  border-bottom: 1px solid rgba(51, 51, 51, 0.95);

  width: 100%;

  &.white {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
  }

  &__container {
    @include container;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $gutter 0;

  }

  &__name {
    opacity: var(--opacity);

    will-change: opacity;
    font-size: 16px;
    text-transform: bold;
  }

  &__logo {
    @include reset-anchor;

    z-index: $z-index-10;
    margin-right: 10px;
    width: 110px;
  }

  &__logoText {
    @include reset-anchor;

    z-index: $z-index-10;
    width: 75px;
    mix-blend-mode: exclusion;
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }

  &__cart {
    position: relative;
    z-index: $z-index-10;
    margin-left: 30px;
    mix-blend-mode: exclusion;

    &Svg {
      padding-top: 5px;
      padding-right: 5px;

      font-size: 24px;
      color: #fff;
      cursor: pointer;
      fill: #fff;
      stroke-width: 3;
    }

    &Badge {
      background-color: $color-primary;
    }

    &CountWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: -14px;
      right: -14px;
      width: 17px;
      height: 17px;
      font-weight: 600;
      color: #414042;
      border-radius: 50%;
      background: #fff;
    }
  }

  &__user {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    fill: #fff;
    stroke-width: 3;
  }
}
