@import '~styles/config';

.footer {
  @include container;

  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: #fff;

  &__row {
    @include grid-row;

    margin: $gutter * 3 0;
  }

  &__col {
    @include grid-col(4);
  }

  &__name {
    @include heading($max: 20);

    margin-bottom: (20/52) * 1em;
  }

  &__list {
    @include reset-list;
  }

  &__item {
    @include copy;
  }

  &__icon {
    font-size: 18px;
    padding-right: 10px;
  }

  &__social {
    display: flex;
    justify-content: flex-end;
  }

  &__socialIcon {
    font-size: 22px;
    padding-right: 10px;
  }
}
