@import '~styles/config';

.lineItem {
  display: flex;
  flex-flow: row nowrap;

  &__image {
    flex: 1 0 60%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 0 40%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    @include responsive-font(18, 18);
  }

  &__subline {
    @include responsive-font(12, 12);

    color: $color-font-gray;
  }

  &__price {
    @include responsive-font(14, 14);
    color: $color-font-gray;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
  }

  &__delete {
    font-size: 20px;

    align-self: center;
    cursor: pointer;
  }
}
